* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #5e0161;
    font-family: system-ui, -apple-system, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100vw;
    height: 100vh;
}

main {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.container {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 500px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 2px 4px 20px 1px #00000069;
}

#img {
    background: #5e0161 url(./predio.jpg);
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left bottom;
}

.entar {
    padding: 10px;
}